---
import Section from "../components/Section.astro";
import Layout from "../layouts/Layout.astro";
import Learner from "../components/Learner";
import Tldr from "../components/TLDR";
import Card from "../components/Card.astro";
---

<Layout title="ErikoXDev">
  <main class="">
    <div
      class="px-4 md:w-3/4 xl:w-2/3 mx-auto relative w-full flex flex-col items-center"
    >
      <Section id="Home">
        <div class="pt-20 pb-12 xl:pt-32">
          <h1 class="text-3xl md:text-6xl pb-2 font-black">
            Hi, I'm ErikoXDev.
          </h1>
          <p class="text-xl md:text-2xl sm:w-3/4">
            I'm building dynamic web experiences with JavaScript and have a
            passion for design.
          </p>
        </div>
        <Tldr client:idle />
      </Section>
    </div>
    <Learner client:idle />
    <div class="flex flex-col md:flex-row w-full justify-evenly">
      <Card
        title="Programming"
        className="bg-gradient-to-b from-amber-500 to-amber-600"
      />
      <Card
        title="Design"
        className="bg-gradient-to-b from-pink-700 to-pink-600"
      />
      <Card
        title="Pixel Art"
        className="bg-gradient-to-b from-purple-600 to-purple-700"
      />
    </div>
    <div
      class="px-4 md:w-3/4 xl:w-2/3 mx-auto relative w-full flex flex-col items-center"
    >
      <Section id="Projects">
        <div class="py-12 xl:pt-24">
          <h2 class="text-2xl md:text-4xl pb-2 font-black">Projects</h2>
        </div>
      </Section>
    </div>
  </main>
</Layout>
