---
interface SkillCardProps {
  title: string;
  class: string;
}

const { title, className } = Astro.props;
---

<div
  class={className + " w-full h-32 md:h-48 flex items-center justify-center"}
>
  <p class="text-3xl font-black">{title}</p>
</div>
